<html>
    <head>
        <title> Student Details</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Id</th>
                <th>First_Name</th>
                <th>Last_Name</th>
                <th>Marks</th>
                <th>Department</th>
            </tr>
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.Firstname}}</td>
                <td>{{student.Lastname}}</td>
                <td>{{student.Marks}}</td>
                <td>{{student.Department}}</td>
            </tr>
        </table>
    </body>
</html>